@page "/"

<PageTitle>Home</PageTitle>

<h1>Gestão de Loja</h1>

Bem-vindo ao sistema de gestão de loja. Utilize o menu ao lado para navegar entre as diferentes seções, como produtos,
categorias e pedidos.
