@page "/"

<PageTitle>Home</PageTitle>

<h1>Shop Management</h1>

Welcome to the shop management system. Use the menu on top to navigate between different sections, such as
products, categories, and orders.
