@page "/products/create"
@page "/products/edit/{ProductId:int}"

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using MyCOLLDB.Data
@using MyCOLLDB.Models.Entities
@using MyCOLLDB.Models.Constants

@inject ApplicationDbContext DbContext
@inject NavigationManager NavManager
@inject UserManager<ApplicationUser> UserManager



<EditForm Model="Product" OnValidSubmit="HandleSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="mb-3">
		<label class="form-label">Nome:</label>
		<InputText class="form-control" @bind-Value="Product.Name" />
		<ValidationMessage For="() => Product.Name" />
	</div>

	<div class="mb-3">
		<label class="form-label">Descrição:</label>
		<InputTextArea class="form-control" @bind-Value="Product.Description" />
		<ValidationMessage For="() => Product.Description" />
	</div>

	<div class="row">
		<div class="col-md-6 mb-3">
			<label class="form-label">Preço Base (€):</label>
			<InputNumber class="form-control" @bind-Value="Product.BasePrice" />
			<ValidationMessage For="() => Product.BasePrice" />
		</div>

		<div class="col-md-6 mb-3">
			<label class="form-label">Sell Tax:</label>
			<InputNumber class="form-control" @bind-Value="Product.SellTax" />
			<ValidationMessage For="() => Product.SellTax" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 mb-3">
			<label class="form-label">Stock</label>
			<InputNumber class="form-select" @bind-Value="Product.Stock" />
		</div>

		<div class="col-md-6 mb-3">
			<label class="form-label">Categoria</label>
			<InputSelect class="form-select" @bind-Value="Product.CategoryId">
				<option value="">Selecione...</option>
				@if (_categories != null)
				{
					@foreach (var cat in _categories)
					{
						<option value="@cat.Id">@cat.Name</option>
					}
				}
				<option value="">Criar categoria</option>
			</InputSelect>
		</div>
	</div>

	<div class="mb-3">
		<label class="form-label">Fornecedor:</label>
		<InputSelect class="form-control" @bind-Value="Product.SupplierId">
			<option value="">Selecione...</option>
			@if (_suppliers != null)
			{
				@foreach (var sup in _suppliers)
				{
					<option value="@sup.Id">@sup.FullName</option>
				}
			}
		</InputSelect>
	</div>

	<div class="form-check mb-3">
		<InputCheckbox class="form-check-input" @bind-Value="Product.IsActive" />
		<label class="form-check-label">Ativo (Visivel na Loja)</label>
	</div>

	<button type="submit" class="btn btn-primary">
		@if (Product.Id == 0)
		{
			<span>Criar Produto</span>
		}
		else
		{

			<span>Guardar Alterações</span>
		}
	</button>
	<button type="button" class="btn btn-secondary" @onclick="() => GoBack()">Cancelar</button>

</EditForm>


@code {
	[Parameter] public int? ProductId { get; set; }
	[Parameter] public Product Product { get; set; } = new();
	[Parameter] public EventCallback OnValidSubmit { get; set; }

	private List<Category>? _categories;
	private List<ApplicationUser>? _suppliers;

	protected override async Task OnInitializedAsync()
	{
		_categories = await DbContext.Categories.ToListAsync();
		_suppliers = (await UserManager.GetUsersInRoleAsync(UserRoles.Supplier)).ToList();
	}
	protected override async Task OnParametersSetAsync()
	{
		if (ProductId.HasValue && ProductId.Value > 0)
		{
			var prod = await DbContext.Products.FindAsync(ProductId.Value);
			if (prod != null) Product = prod;
		}
		else
		{
			Product = new Product();
		}
	}
	private async Task HandleSubmit()
	{
		if (Product.Id == 0)
		{
			DbContext.Products.Add(Product);
		}
		else
		{
			DbContext.Products.Update(Product);
		}

		await DbContext.SaveChangesAsync();
		GoBack();
	}
	private void GoBack()
	{
		NavManager.NavigateTo("/products");
	}
}
